form,
h2 {
    text-align: center;
    margin: 0 auto;
}

/*
    Asociación ( : )
    Selector conjugando etiquetas y atributos
*/
input:disabled {
    color: red;
    opacity: 0;
}

input:focus {
    border: thick solid skyblue;
}

/*
    Asociada a una acción de botón
*/
label:active {
    background-color: skyblue;
}

/*
    Asociación etiquetas, atributo checkbox + acción (input)
    para asociar etiquetas y estilos, utilizaremos el selector adyacente (+)

*/
input[type=checkbox]:checked+label {
    font-weight: bold;
    color: green;
    font-size: xx-large;
}

/*
    Diferenciar asociación (intervención de una acción) con computación de elementos
*/
form label {
    color: blue;
    font-weight: bolder;
}

form label span {
    font-size: xx-small;
    color: black;
}

/*
    Selectores con directiva
*/
ol li[id^='J'] {
    /* Empieza con J mayúscula; * es que contenga */
    background-color: pink;
}

/*
    2. Contenga la selección
*/
ol li[id*='a'] {
    /* Empieza con J mayúscula; * es que contenga */
    background-color: rgb(194, 147, 155);
}

/*
    3. Finalizar la selección
*/
ol li[id$='s'] {
    /* Empieza con J mayúscula; * es que contenga */
    background-color: rgb(101, 76, 80);
}

table,
tr,
td {
    width: 30%;
    border: thin solid navy;
    border-collapse: collapse;
    caption-side: bottom;
    text-align: center;
    margin: 0 auto;
}

/*
    Tiene prioridad el final, inicio y medio.
*/
/*
    lo que esta a la derecha o "abajo" tiene prioridad
*/

/*
    pseudo-clases;
    sintaxis: [elemento, clase o grupo de elementos]:nth-child(posición, )
*/
tr:nth-child(even){ /*hijos de tr, filas pares*/
    background-color: lightsalmon;
}
tr:nth-child(odd){
    background-color: yellow;
}
/*
    Los más usados y de gran recurso serán los pseudoelementos:
    :first-child (selección del primer elemento)
    ::first-letter (selección primera letra)
    ::before (inicio del contenido)
    ::after (final del contenido)
    :nth-last-child() (último hijo)
    :nth-of-type() (en función de la posición del elemento)

    nth -> number th
*/
ul li:first-child{
    background-color: bisque;
}
ul li:nth-child(5){
    background-color: burlywood;
}
/*
    Ejercicio:
        Seleccionar de 3 párrafos, el primero, sus fuentas sean negras,
        gruesas y de tamaño x-large y el tercero color de letra rojo.
*/
p{
    color: blue;
}
p:nth-of-type(1){ /*first-of-type*/
    color:black;
    font-weight: bold;
    font-size: x-large;
}
p:nth-child(2){
    color:rgb(69, 153, 86);
}
p:last-child{
    color:red;
}
